.divider
  height: 32px
  @apply bg-zinc-600
  width: 1px
  @apply mb-1.5

.dockButton
  @apply rounded-md
  width: 32px
  height: 32px
  display: block

  img
    @apply rounded-md

  &:active img
    opacity: 0.5
